body{
	background-color: #EEE;
	font-family: verdana;
	margin: 0;
}

#mainWrapper{
	//border: 1px solid red;
	background-color: #FFF;
    margin: auto;
    width: 80%;
    padding: 10px;
}

header{
	font-size: 35px;
	border-bottom: 1px solid #EEEEEE;
}


