body{
	background-color: #EEE;
	font-family: verdana;
	margin: 1px;
}

#mainWrapper{
	//border: 1px solid #D8D8D8;
	//border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
	background-color: #FFF;
    margin: auto;
    width: 80%;
    padding: 10px;
}

header{
	font-size: 35px;
	border-bottom: 1px solid #EEEEEE;
}


