{% include header.html %}
<nav>
	<a href="/index.html">Home</a> <a href="/archive.html">Archive</a>
</nav>
</header>
<div id="contentWrapper">
	<h3>Latest articles...</h3>
	<div id="left">
	<section class="blogentry">
			<h5>
				<a href="{{page.url}}">{{page.title}}</a>
			</h5>
			<p class="blogdate">{{ page.date | date: "%d %B %Y" }}</p>
			<p class="blogsummary">
				{{page.content}}
			</p>
		</section>	
	</div>
	<div id="right">
		{% include rightmenu.html %}
	</div>
</div>
<div id="recentcomments" class="dsq-widget"><h2 class="dsq-widget-title">Recent Comments</h2><script type="text/javascript" src="http://rashidshaikhgithubcom.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=0&avatar_size=32&excerpt_length=200"></script></div><a href="http://disqus.com/">Powered by Disqus</a>
{% include footer.html %}