{% include header.html %}
<nav>
	<a href="/index.html">Home</a> <a href="/archive.html">Archive</a>
</nav>
</header>
<div id="contentWrapper">
	<h3>Latest articles...</h3>
	<div id="left">
	<section class="blogentry">
			<h5>
				<a href="{{page.url}}">{{page.title}}</a>
			</h5>
			<p class="blogdate">{{ page.date | date: "%d %B %Y" }}</p>
			<p class="blogsummary">
				{{page.content}}
			</p>
		</section>	
	</div>
	<div id="right">
		{% include rightmenu.html %}
	</div>
</div>
{% include footer.html %}